@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,100..1000;1,100..1000&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'DM Sans', sans-serif;
}

body {
    background-color: #171717;
}

html {
    scroll-behavior: smooth;
}


.cabeca {
    display: flex;
    justify-content: space-between;
    padding: 20px 10%;
    color: #FFF;
    box-shadow: 0px 3px 10px #0f041a;
}


.titulo {
    font-weight: 500;
    font-size: 20px;
}


.menu {
    display: flex;
    list-style: none;
    gap: 20px;
}

.menu li a {
    text-decoration: none;
    color: white;
    font-size: 18px;
    transition: ease-in 0.2s;
    display: inline-block;
}

.menu li a:hover {
    color: #FFF;
    transform: scale(1.03);
}

/* Ícone do menu hamburguer */
.menu-icon {
    display: none;
    /* Esconde o ícone no desktop */
    background: none;
    border: none;
    color: white;
    font-size: 28px;
    cursor: pointer;
}

#menu-toggle {
    display: none;
}

.hidden {
    display: none; /* Esconde o elemento por padrão */
    color: #FFF;
}



.span{
    display: block;
}
.perfil {
    color: white;
    padding: 100px 9%;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.perfil p {
    font-size: 30px;
    font-weight: 500;
}

.perfil img {
    max-width: 100%;
    height: auto;
    border-radius: 100px;
}

.img {
    display: flex;
    justify-content: flex-end;
    /* Move a imagem para a direita */
    align-items: flex-end;
    position: relative;
    top: -180px;
    margin-right: 50px;
}

.desc p {
    font-size: 15px;
    color: #828282;
    margin-top: 20px;
}

.but {
    display: flex;
    gap: 10px;
    margin-top: 20px
}

.but button:hover{
    transform: scale(1.03);
}

.but button{
    width: 130px;
    height: 33px;
    border:#3b1072;
    color: #FFF;
    transition: all ease-out 0.3s;
    cursor: pointer;
    z-index: 1
}
.but .a {
    background-color: #3b1072;
}

.but .b{
    background-color: #171717;
    border: solid 2px #3b1072;
}


@media (max-width: 850px) {

    .hidden {
        display: block; /* Torna o texto visível quando a tela for menor que 850px */
        text-align: center;
        
    }

    .desc p{
        text-align: center;
    }
    .menu {
        display: none;
        /* Esconde o menu normal */
        flex-direction: column;
        position: absolute;
        top: 60px;
        right: 10%;
        background: #222;
        width: 220px;
        padding: 10px;
        border-radius: 15px;
    }

    #menu-toggle:checked ~ .menu {
        display: flex;
    }

    .menu li {
        margin: 10px 0;
    }

    .menu-icon {
        display: block;
        /* Mostra o botão do menu */
    }

    .img img{
        display: none;
    }

    .p{
        display: none
    }

    .but {
        display: flex;
        justify-content: center;  /* Centraliza os botões horizontalmente */
       
    }
    
    .but button {
        color: #FFF;
    }

    .sobre{
        margin-top: 70px ;
    }

    .sobre p{
        width: 100%;
        height: auto;
    }

    .projetos{
        display: flex;
        flex-direction: column;
    }

    .si{
        display: flex;
        flex-wrap: wrap;
    }

    
    
}

@media (max-width: 1094px){
    .servicos{
        display: flex;
        flex-direction: column;
    }
}

.sobre {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 30px
}

.sobre p{
    font-weight: 100;
    font-size: 15px;
    text-align: center;
    margin-top: 20px;
    max-width: 70%
}




.perfil { animation: fadeInUp 1s ease-out 0.2s forwards; }
.img { animation: fadeInUp 1s ease-out 0.5s forwards; }
.desc { animation: fadeInUp 1s ease-out 0.8s forwards; }
.but { animation: fadeInUp 1s ease-out 1.1s forwards; }



.icons{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    margin-top: 40px;
    
    
}
.icons a{
    transition: all ease-out 0.4s;
    text-decoration: none;
    color: #3b1072;
    outline: none;
}

a:visited{
    color: #3b1072;
}

.icons i{
    font-size: 30px;
}

.projetos {
    display: flex;
    flex-wrap: wrap;  /* Faz com que os itens "quebrem" para a linha seguinte */
    justify-content: space-between;  /* Espaço entre os itens */
}


.h2{
    margin-top: 50px
}

.projeto{
    width: 350px;
    height: 220px;
    background-color: #222;
    margin-top: 30px;
    position: relative;
    
}

.upload-label{
    display: block;
    position: absolute;
    width: 90%;
    height: 50%;
    background-color: #131212;
    opacity: 0.7;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 16px;
    font-weight: bold;
    top: 20px;
    left: 17px
}

.upload-box{
    width: 80%;
    height: 80%;
}

.file-input {
    display: none; /* Esconde o input de arquivo */
}

.projeto .title{
    position: absolute;
    bottom: 55px;
    left: 20px;
    font-weight: 500;
    background-color: #222;
    border: none;
    color: #FFF;
    outline: none;

}

.projeto .desc2{
    position: absolute;
    bottom: 35px;
    left: 20px;
    font-size: 13px;
    background-color: #222;
    border: none;
    color: #FFF;
    outline: none;
}

.srv{
    margin-top: 90px;
}
.servicos{
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
    position: relative;
    gap: 30px
}

.sv{
    background-color: #222;
    width: 350px;
    height: 220px;
    border-bottom: solid 5px #3b1072;
    transition: ease-out 0.3s;

}

.sv i{
    color: #3b1072;
    font-size: 37px;
    font-weight: 600;
    position: relative;
    gap: 25px;
    left: 20px;
    top: 30px;

}

.sv p{
    font-size: 27px;
    font-weight: 600;
    position: relative;
    gap: 25px;
    left: 20px;
    top: 60px;
    max-width: 30%;
    text-align: left;
    color: #828282;
   
}

.sv .p2{
    font-size: 27px;
    font-weight: 600;
    position: relative;
    gap: 25px;
    left: 20px;
    top: 60px;
    max-width: 70%;
    text-align: left;
    color: #828282;
}

.Ms{
    display: flex;
    justify-content: center;
    margin-top: 90px;
}

.skills{
    display: flex;
    justify-content: center;
    
}

.si{
    display: flex;
    justify-content: space-around;
    color: #3b1072;
    font-size: 60px;
    gap: 50px;
    margin-top: 80px;
   
    
}

.si i{
    transition: ease-out 0.4s;
}

.icons a:hover{
    transform: scale(1.07);
}

.sv:hover{
    transform: scale(1.06);
}

.si i:hover{
    transform: scale(1.1);
}